.container {
  width: 100%;
  max-width: 144.8rem;
  margin: 0 auto;
  padding: 0 4rem;

  @include vp-1023 {
    padding: 2rem;
  }

  @include vp-393 {
    padding: 1.6rem;
  }

  &--no-p {
    padding: 0;
  }
}
